* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

#container {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;

  flex-direction: column;
  align-items: center;
}

.grid-item {
  width: 16px;
  height: 16px;
  border: 1px solid rgb(58, 58, 58);
}

.row {
  display: flex;
}

.colorPalette {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.5em;
  border: 1px solid black;
}

#colorChooser {
  justify-self: center;
}
