* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

#container {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
}

#width {
  display: flex;
  flex-direction: row;
}

.grid-item {
  width: 16px;
  height: 16px;
  border: 1px solid black;
}

.row {
  display: flex;
}
